<div style="height: calc(100% - 64px);" fxLayout fxLayoutAlign="center center">
    <form style="width: 220px;" [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title>Register</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Username" formControlName="username">
                  <mat-error *ngIf="addressForm.controls['username'].hasError('required')">
                    Username <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input type="password" matInput placeholder="Password" formControlName="password">
                    <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
                      Password <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input type="password" matInput placeholder="Repeat Password" formControlName="repeatPassword">
                    <mat-error *ngIf="addressForm.controls['repeatPassword'].hasError('required')">
                      Repeat Password <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="addressForm.controls['repeatPassword'].hasError('noMatch')">
                      Password <strong>do not match</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="message">
                <div [class]="'col ' + (done ? 'green-color' : 'red-color')">{{ message }}</div>
              </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Send</button>
          </mat-card-actions>
        </mat-card>
      </form>
</div>
  